<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imapsync-web-admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rippleui@1.12.1/dist/css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <style>
        html,
        .navbar,
        body,
        thead {
            transition: background-color .2s ease;
        }
    </style>
</head>

<!-- Admin Panel for viewing the queue and other stats -->

<body>
    <!-- Header -->
    {{template "admin_navbar.html"}}

    <!-- Table for showing the queue -->
    <div class="container p-4 mx-auto flex gap-4">
        <div class="flex w-full overflow-x-auto flex-col">
            <h2 class="text-4xl m-2">Queue</h2>

            <!-- Page controls -->
            <div id="pagination" class="pagination m-2" hx-get="/api/pagination?page=1" hx-trigger="load"></div>

            <table class="table-hover table-compact table" id="queue-table" hx-get="/api/queue?page=1" hx-trigger="load"
                hx-target="#table-body" hx-swap-oob="innerHTML transition:true">
                {{template "tbody.html" .}}
            </table>
        </div>
    </div>

    <script>
        var toggleDark = document.getElementById("theme-dark-toggle");
        var toggleLight = document.getElementById("theme-light-toggle");

        var storedTheme =
            localStorage.getItem("theme") ||
            (window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "dark"
                : "light");
        if (storedTheme)
            document.documentElement.setAttribute("data-theme", storedTheme);
        if (storedTheme === "dark") {
            toggleDark.classList.add("dropdown-active");
            toggleLight.classList.remove("dropdown-active");
        } else {
            toggleLight.classList.add("dropdown-active");
            toggleDark.classList.remove("dropdown-active");
        }

        function darkMode() {
            document.documentElement.setAttribute("data-theme", "dark");
            toggleDark.classList.add("dropdown-active");
            toggleLight.classList.remove("dropdown-active");
            localStorage.setItem("theme", "dark");
        }

        function lightMode() {
            document.documentElement.setAttribute("data-theme", "light");
            toggleLight.classList.add("dropdown-active");
            toggleDark.classList.remove("dropdown-active");
            localStorage.setItem("theme", "light");
        }

        toggleDark.addEventListener("click", darkMode, false);
        toggleLight.addEventListener("click", lightMode, false);


        let currentBtn = null;

        const updateButtons = (buttons) => {
            buttons.forEach((button) => {
                button.addEventListener('click', () => {
                    if (currentBtn) {
                        currentBtn.classList.remove('btn-primary');
                    }
                    button.classList.add('btn-primary');
                    currentBtn = button;
                    let currentBtnIndex = button.id.replace('sync', '');
                    htmx.ajax('GET', `/api/pagination?page=${currentBtnIndex}`, '#pagination');
                });
            });
        };


        const listener = htmx.on('htmx:afterSwap', (evt) => {
            const buttons = document.querySelectorAll('.btn');
            updateButtons(buttons);
        });

    </script>

</body>

</html>