<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monomail-Sync Admin</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <script src="/static/js/tailwind.js"></script>
    <script src="/static/js/htmx.min.js"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <script defer src="/static/js/cdn.min.js"></script>

    <style>
        .hide {
            display: none;
        }

        body {
            overflow-x: hidden;
        }

        #error-notification {
            transition: all 0.3s ease-in-out;
        }

        #error-notification.slide-out {
            transform: translateX(110%);
        }

        html,
        .navbar,
        body,
        thead {
            transition: background-color .2s ease;
        }
    </style>
</head>

<!-- Admin Panel for viewing the queue and other stats -->

<body x-data="{ model_open: '' }">
    <!-- Header -->
    {{template "admin_navbar.html"}}

    <!-- Table for showing the queue -->
    <div class="container p-4 mx-auto flex gap-4">
        <div class=" flex w-full overflow-x-auto flex-col">
            <h2 class="text-4xl m-2">{{index . "queue"}}</h2>

            <!-- Page controls -->
            <div id="pagination" class="pagination m-2" hx-get="/api/pagination?page=1" hx-trigger="load"></div>

            <table class="table-hover table-compact table" id="queue-table" hx-get="/api/queue?page=1" hx-trigger="load"
                hx-target="#table-body" hx-swap-oob="innerHTML transition:true">
                <thead>
                    <tr>
                        <th>{{index . "index"}}</th>
                        <th>{{index . "source_server"}}</th>
                        <th>{{index . "source_account"}}</th>
                        <th>{{index . "dest_server"}}</th>
                        <th>{{index . "dest_account"}}</th>
                        <th>{{index . "status"}}</th>
                        <th>{{index . "actions"}}</th>
                    </tr>
                </thead>
                <tbody id="table-body" hx-boost="true" hx-get="/api/queue?page={{if .Index}}{{.Index}}{{else}}1{{end}}"
                    hx-swap="innerHTML transition:true" hx-trigger="every 60s">
                    {{template "tbody.html" .}}
                </tbody>
            </table>
        </div>
    </div>


    <div class="modal w-screen" id="detailsmodal" :class="model_open ? 'visible opacity-100' : '' ">
        {{ template "log_window.html"}}
    </div>

    <!-- Error notification -->
    <div class="alert alert-error max-w-sm absolute top-0 right-0 mt-4 mr-4 cursor-pointer slide-out"
        id="error-notification">
        <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                d="M24 4C12.96 4 4 12.96 4 24C4 35.04 12.96 44 24 44C35.04 44 44 35.04 44 24C44 12.96 35.04 4 24 4ZM24 26C22.9 26 22 25.1 22 24V16C22 14.9 22.9 14 24 14C25.1 14 26 14.9 26 16V24C26 25.1 25.1 26 24 26ZM26 34H22V30H26V34Z"
                fill="#E92C2C" />
        </svg>
        <div class="flex w-full justify-between">
            <div class="flex flex-col">
                <span>Error</span>
                <span class="text-content2">Long sample text</span>
            </div>
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M18.3007 5.71C17.9107 5.32 17.2807 5.32 16.8907 5.71L12.0007 10.59L7.1107 5.7C6.7207 5.31 6.0907 5.31 5.7007 5.7C5.3107 6.09 5.3107 6.72 5.7007 7.11L10.5907 12L5.7007 16.89C5.3107 17.28 5.3107 17.91 5.7007 18.3C6.0907 18.69 6.7207 18.69 7.1107 18.3L12.0007 13.41L16.8907 18.3C17.2807 18.69 17.9107 18.69 18.3007 18.3C18.6907 17.91 18.6907 17.28 18.3007 16.89L13.4107 12L18.3007 7.11C18.6807 6.73 18.6807 6.09 18.3007 5.71Z"
                    fill="#969696" />
            </svg>
        </div>
    </div>

    <script>
        var toggleDark = document.getElementById("theme-dark-toggle");
        var toggleLight = document.getElementById("theme-light-toggle");

        var storedTheme =
            localStorage.getItem("theme") ||
            (window.matchMedia("(prefers-color-scheme: dark)").matches
                ? "dark"
                : "light");
        if (storedTheme)
            document.documentElement.setAttribute("data-theme", storedTheme);
        if (storedTheme === "dark") {
            toggleDark.classList.add("dropdown-active");
            toggleLight.classList.remove("dropdown-active");
        } else {
            toggleLight.classList.add("dropdown-active");
            toggleDark.classList.remove("dropdown-active");
        }

        function darkMode() {
            document.documentElement.setAttribute("data-theme", "dark");
            toggleDark.classList.add("dropdown-active");
            toggleLight.classList.remove("dropdown-active");
            localStorage.setItem("theme", "dark");
        }

        function lightMode() {
            document.documentElement.setAttribute("data-theme", "light");
            toggleLight.classList.add("dropdown-active");
            toggleDark.classList.remove("dropdown-active");
            localStorage.setItem("theme", "light");
        }

        toggleDark.addEventListener("click", darkMode, false);
        toggleLight.addEventListener("click", lightMode, false);


        let currentBtn = null;

        const updateButtons = (buttons) => {
            buttons.forEach((button) => {
                if (!button.id.startsWith('sync')) {
                    return;
                }
                button.addEventListener('click', () => {
                    if (currentBtn) {
                        currentBtn.classList.remove('btn-primary');
                    }
                    button.classList.add('btn-primary');
                    currentBtn = button;
                    let currentBtnIndex = button.id.replace('sync', '');
                    htmx.ajax('GET', `/api/pagination?page=${currentBtnIndex}`, '#pagination');
                });
            });
        };

        const listener = htmx.on('htmx:afterSwap', (evt) => {
            const buttons = document.querySelectorAll('.btn');
            updateButtons(buttons);
        });

        var searchInput = document.getElementById("search-input");

        function updateHxTrigger() {
            var table = document.getElementById("table-body");
            if (searchInput.value) {
                table.removeAttribute("hx-trigger");
                htmx.process(table);
            } else {
                table.setAttribute("hx-trigger", "every 2s");
                htmx.process(table);
            }
        }

        function hideNotification() {
            var notification = document.getElementById("error-notification");
            notification.classList.add("slide-out");
            setTimeout(function () {
                notification.classList.add("hide");
            }, 500);
        }

        function attachEventListeners() {
            var notification = document.getElementById("error-notification");
            notification.addEventListener("click", hideNotification);
        }

        document.addEventListener("htmx:afterSwap", function (event) {
            if (event.detail.target.id === "error-notification") {
                attachEventListeners();
            }
        });


    </script>

</body>

</html>