<label class="modal-overlay" for="modal-details"></label>
<div class="modal-content flex flex-col gap-3 max-w-7xl min-w-5xl">
    <label for="modal-details" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</label>
    <div class="divider divider-horizontal text-3xl"> Task details</div>

    <!-- Show start date and end date side by side at opposite sides -->
    <div class="flex flex-row gap-96">
        <div class="text-xl">Start Date: {{.start}}</div>
        <div class="text-xl">End Date: {{.end}}</div>
    </div>

    <pre class="overflow-auto">{{.log}}</pre>
</div>
