{{range .Tasks}}
<tr hx-trigger="none">
    <th>{{.ID}}</th>
    <td>{{.SourceServer}}</td>
    <td>{{.SourceAccount}}</td>
    <td>{{.DestinationServer}}</td>
    <td>{{.DestinationAccount}}</td>
    <td>
        {{if eq .Status "Done"}}
        <span class="badge badge-outline-success">{{.Status}}</span>
        {{else}}
        <span class="badge badge-outline-warning">{{.Status}}</span>
        {{end}}
    </td>
    <td>
        <div class="btn-group btn-group-rounded btn-group-scrollable">
            <button class="btn" hx-trigger="none">Details</button>
            <button class="btn" hx-trigger="none">Retry</button>
            <button class="btn" hx-trigger="none">Cancel</button>
        </div>
    </td>

</tr>
{{end}}