{{range .Tasks}}
<tr>
    <th>{{.ID}}</th>
    <td>{{.SourceServer}}</td>
    <td>{{.SourceAccount}}</td>
    <td>{{.DestinationServer}}</td>
    <td>{{.DestinationAccount}}</td>
    <td>
        {{if eq .Status "Done"}}
        <span class="badge badge-outline-success">{{.Status}}</span>
        {{else}}
        <span class="badge badge-outline-warning">{{.Status}}</span>
        {{end}}
    </td>
    <td>
        <div class="btn-group btn-group-rounded btn-group-scrollable">
            <label hx-get="/api/details?id={{.ID}}" hx-target="#detailsmodal" hx-swap="innerHTML" hx-trigger="click"
                class="btn btn-solid-primary" for="modal-details">Details</label>
            <input class="modal-state" id="modal-details" type="checkbox" x-model="model_open" />

            <button class="btn btn-solid-warning" hx-trigger="none">Retry</button>
            <button class="btn btn-solid-error" hx-trigger="none">Cancel</button>
        </div>
    </td>

</tr>
{{end}}